<form [formGroup]="signup" (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      formControlName="email"
      class="form-control"
      id="email"
      [ngClass]="getValidationClasses(signup.controls.email)"
    />
    <div class="invalid-feedback">
      <div *ngIf="signup.controls.email.errors?.['required']">The field is required</div>
      <div *ngIf="signup.controls.email.errors?.['email']">Enter a valid email</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="password"
      [ngClass]="getValidationClasses(signup.controls.password)"
    />
    <div class="invalid-feedback">
      <div *ngIf="signup.controls.password.errors?.['required']">The field is required</div>
      <div *ngIf="signup.controls.password.errors?.['minlength'] as error">
        Enter a valid password with at least {{ error.requiredLength }} characters
      </div>
    </div>
  </div>

  <div class="mb-3 form-check">
    <input
      formControlName="eula"
      type="checkbox"
      class="form-check-input"
      id="eula"
      [ngClass]="getValidationClasses(signup.controls.eula)"
    />
    <label class="form-check-label" for="eula">Accept end-user license agreement</label>
    <div class="invalid-feedback">
      <div *ngIf="signup.controls.eula.errors?.['required']">You must accept EULA</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="signup.invalid || signup.disabled">Submit</button>
</form>

<div class="my-4 d-flex align-items-center">
  Email form control:
  <div class="btn-group ms-2" role="group">
    <button (click)="resetEmail()" class="btn btn-secondary btn-sm">Reset</button>
    <button
      class="btn btn-sm"
      [ngClass]="{ 'btn-secondary': signup.controls.email.enabled, 'btn-light': signup.controls.email.disabled }"
      (click)="disableEmail()"
    >
      {{ signup.controls.email.enabled ? 'Disable' : 'Enable' }}
    </button>
  </div>
</div>

<div class="row mt-4">
  <div class="col-6">
    <div class="card h-100">
      <div class="card-header">Form value</div>
      <pre class="card-body mb-0" style="font-size: 13px">{{ signup.value | json }}</pre>
    </div>
  </div>

  <div class="col-6">
    <div class="card h-100">
      <div class="card-header">Form errors</div>
      <pre class="card-body mb-0" style="font-size: 13px">
<ng-container *ngIf="signup.controls.email.errors">email {{ signup.controls.email.errors | json }}
</ng-container><ng-container *ngIf="signup.controls.password.errors">password {{ signup.controls.password.errors | json }}
</ng-container><ng-container *ngIf="signup.controls.eula.errors">eula {{ signup.controls.eula.errors | json }}</ng-container></pre>
    </div>
  </div>
</div>

<app-footer></app-footer>
